
.box{
	color:black;
	box-shadow: 0px 1px 15px black;
	border-radius: 3px;
	background-color: #555555;
	border-style:solid;
	border-width:5px;
	border-color:rgba(128, 0, 128, 0.753);
}

#loginWindow{
    position: absolute;
    margin: 10%;
    top:40px;
    height: 80vh;
	min-width: 80vw;
	max-width: 400px;
}