body {
	overflow-x:hidden;
	background-color:#222244;
	background-image: url("../white-brick-wall-seamless.jpg");
	background-blend-mode: multiply;
	background-repeat: repeat;
	background-size: 400px 300px;
	color: white;
}
*{
	margin:0px;
	padding:0px;
	color: white;
	font-family: "Times New Roman", Times, serif;
}
.icon{
	padding: 5px 5px;
	height:40px;
	width:40px;
	left:0;
	top:0;
	position:fixed;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
.icon:hover{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
.header{
	background-color:#555555;
	position:fixed;
	width:100%;
	height:50px;
	left:0;
	top:0;
	z-index:10;
	box-shadow: 0px 1px 20px black;
}
.navbar{
    left: 50;
	position: relative;
}
.navbar-item {
    z-index: 2;
    font-family: "Verdana";
    font-size: 120%;
    text-decoration: none;
	text-align:center;
	background-color:#555555;
    float:left;
    line-height: 50px;
	padding:0px 30px;
}
.navbar a{
    transition: background-color .25s;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
}
.navbar a:hover{
	background-color:#444444;
}
.navbar-dropdown{
    float: left;
    position: relative;
}
.navbar-dropdown div{
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.3);
    background-color:#838383;
    min-width: 100%;
    z-index: 1;
    display: none;
    position: absolute;
    top: 100%;
}
.navbar-dropdown div a{
    padding: 12px 12px;
    display: block;
    float: none;
}
.navbar-dropdown:hover div {
    display: block;
}

#active {
    background-color: rgb(78, 35, 88);
    font-size: 140%;
    color: white;
}

/*.header ul{
	list-style:none;
	left:40;
	position:relative;
}
.header ul li{
	font-family: "Verdana";
	background-color:#555555;
	font-size:100%;
	height:auto;
	width:auto;
	text-align:center;
	line-height: 40px;
	float:left;
	cursor: default;
	padding:0px 20px;
}
#headerLogin, #profile {
	float:right;
	right:40px;
	position:relative;
}
.header ul li:hover{
	display:block;
	background-color:#444444;
}
.header ul ul{
	display:none;
}
.header ul li:hover > ul{
	display:block;
}*/